<section id="educacion">
    <section id="educacion" class="border">
      <h1 class="text-center" mt-4 pb-3>Educación</h1>

        <div class="container text-left">
            <div class="row">
              <div class="col-6" >
               
                <p><strong>Institución:</strong> UNR</p>
                <p><strong>Periodo:</strong> 2015-2018</p>
                <p><strong>Carrera:</strong> Enfermería Profesional</p>
                <br>
                <p><strong>Institución:</strong> UNA</p>
                <P><strong>Periodo:</strong>1999-2004</P>
                <p><strong>Carrera:</strong> Estadística</p>
                <br>
                <p><strong>Institución:</strong>ISPPJ </p>
                <P><strong>Periodo:</strong> 1996-2001</P>
                <p><strong>Carrera:</strong> Profesora Especialidad Matemática</p>
            </div>
            <div class="col-6">
              <div class="container text-center">
                <div class="row">
                  <div class="col">
                    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#edEduModal">
                      <i class="fa-solid fa-pen"></i>
                  </button>
                   
                    </div>
                  <div class="col">
                    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#edEduModal">
                      <i class="fa-solid fa-trash"></i>
                  </button>
                 </div>
                  
                   <div class="col">
                    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#edEduModal">
                      <i class="fa-solid fa-plus"></i>
                    </button>
                  </div>
                </div>
              </div>
          </div>
          
              
            </div>
        </div>

    </section>


  </section>
  <app-modal-educacion></app-modal-educacion>
