<!--modal experiencia editar-->
<div class="modal fade" id="edExpModal" tabindex="-1" aria-labelledby="edExpModal" aria-hidden="true">

    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="edExpModal">Experiencia</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <form>
                  <div class="mb-3">
                  <label for="edExp" class="form-label">Experiencia</label>
                  <textarea class="form-control" id="edExp"></textarea>
                  </div>
                               
              </form>
        </div>

        <div class="mb-3">
          <label for="edExpInputFecha" class="form-label">Fecha a Modificar</label>
          <input type="fecha" class="form-control" id="edExpInputfecha">
        </div>

        <div class="mb-3">
          <label for="edExp" class="form-label">Url a Modificar</label>
          <textarea class="form-control" id="edExp"></textarea>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
          <button type="submit" class="btn btn-primary">Ingresar</button>
        </div>
      </div>
    </div>
  </div>
  <!--modal experiencia eliminar-->
  <div class="modal fade" id="eliExpModal" tabindex="-1" aria-labelledby="eliExpModal" aria-hidden="true">

    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="eliExpModal">Experiencia</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <form>
                  <div class="mb-3">
                  <label for="eliExp" class="form-label">Texto Largo</label>
                  <textarea class="form-control" id="eliExp"></textarea>
                  </div>
                               
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
          <button type="submit" class="btn btn-primary">Ingresar</button>
        </div>
      </div>
    </div>
  </div>
  <!--modal experiencia agregar-->
  <div class="modal fade" id="agrExpModal" tabindex="-1" aria-labelledby="agrExpModal" aria-hidden="true">

    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="agrExpModal">Experiencia</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <form>
                  <div class="mb-3">
                  <label for="agrExp" class="form-label">Texto Largo</label>
                  <textarea class="form-control" id="agrExp"></textarea>
                  </div>
                               
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
          <button type="submit" class="btn btn-primary">Ingresar</button>
        </div>
      </div>
    </div>
  </div>
