<section id="experiencia">

    <h1 class="text-center" mt-4 pb-3>Experiencia</h1>

    <div class="container text-left">
        <div class="row">
          <div class="col-6" >
            
            <p><strong>Institución:</strong> GERDAU</p>
            <P><strong>Cargo:</strong> Enfermera</P>
            <p><strong>Periodo:</strong> 2020-2022</p>
            <br>
            <p><strong>Institución:</strong> Hospital Escuela Eva Perón</p>
            <P><strong>Cargo:</strong> Enfermera</P>
            <p><strong>Periodo:</strong> 2018-2020</p>
            <br>
            <p><strong>Institución:</strong> SISOL</p>
            <P><strong>Cargo:</strong> Coordinadora del área estadística</P>
            <p><strong>Periodo:</strong> 2007-2011</p>
        </div>
          <div class="col-6">

            <div class="container text-center">
              <div class="row">
                <div class="col">
                  <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#edExpModal">
                    <i class="fa-solid fa-pen"></i>
                </button>
                 
                  </div>
                <div class="col">
                  <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#eliExpModal">
                    <i class="fa-solid fa-trash"></i>
                </button>
               </div>
                
                 <div class="col">
                  <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#agrExpModal">
                    <i class="fa-solid fa-plus"></i>
                  </button>
                </div>
              </div>
            </div>
            <img src="im/experiencia.jpg" alt="arg-prog" height="200rem">
            
        </div>
          
        </div>
    </div>

  </section>
  
  <app-modal-experiencia></app-modal-experiencia>

